.project-card,
.slick-slide img {
    transition: transform .3s
}

.projects {
    width: 100vw;
    overflow: hidden;
    margin: 2rem 0;
    color: #333;
    padding-bottom: 70px
}

h1 {
    font-size: 2.5rem
}

.projects-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px
}

.project-card {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding: 30px
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 8px
}

.project-card a {
    text-decoration: none
}

.project-card img:hover {
    transform: scale(1.05)
}

.project-card h3 {
    color: #333;
    margin-top: 10px
}

.slick-slide {
    display: flex;
    justify-content: center
}

.slick-list {
    overflow: hidden;
    margin: 0 -10px
}

.slick-next:before,
.slick-prev:before {
    background-color: #555;
    font-size: 30px;
    border-radius: 100%
}

.slick-prev {
    left: -35px
}

.slick-next {
    right: -35px
}

@media (max-width:1024px) {
    .projects-container {
        padding: 0 10px
    }

    .project-card {
        width: 90%;
        margin: 0 auto 20px
    }
}

@media (max-width:767px) {
    .project-card {
        width: 100%;
        margin-bottom: 20px
    }

    .projects-container {
        padding: 0 5px
    }
}