.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.skills-categories-container {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 35px;
  padding: 10px 60px 70px 60px;
}

.skills-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 400px; /* Limite la largeur pour garder un look centré */
  text-align: center;
  margin-bottom: 2rem;
}

.skills-category h3 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  color: #333;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Centrer les icônes sous chaque catégorie */
  border-radius: 20px;
  padding: 10px;
}

.skill-block {
  position: relative;
  width: 80px;
  height: 80px;
  border: 3px double #bca374;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  transition: background-color 0.3s;
}

.skill-block:hover {
  background-color: #e0e0e0;
}

.skill-icon {
  font-size: 2rem;
  color: #555;
}

.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  transition: visibility 0.3s, opacity 0.3s;
  opacity: 0;
}

.skill-block:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.svg-icon {
  width: 40px;
  height: 40px;
  fill: #555;
}

.skill-block:hover .svg-icon {
  fill: #bca374;
}

/* Responsive Adjustments */

/* Tablet */
@media (max-width: 1024px) {
  .skills-categories-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .skills-category {
    min-width: 80%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .skills-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .skill-block {
    width: 60px;
    height: 60px;
  }

  .skill-icon {
    font-size: 1.6rem;
  }

  .tooltip {
    font-size: 0.9rem;
    padding: 4px 8px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .skills-categories-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .skills-category {
    min-width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  .skills-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .skill-block {
    width: 50px;
    height: 50px;
  }

  .skill-icon {
    font-size: 1.6rem;
  }

  .tooltip {
    font-size: 0.9rem;
    padding: 4px 8px;
  }
}
