.App {
  text-align: center;
  background: linear-gradient(0.9turn, #ddcab9, #fbfbfb, #69a899);
  padding-bottom: 20px;
}

.separator {
  border-top: 2px solid #bca374; 
  border-bottom: 2px solid #bca374; 
  background-color: white;
  height: 3px; 
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#petal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Empêche de cliquer sur les pétales */
  z-index: 9999; /* S'assure que les pétales passent devant tout */
}

.petal {
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  animation: fall linear infinite;
  z-index: 1000;
}

@keyframes fall {
  to {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
